streamlit>=1.33.0,<2.0
langchain==0.2.6
langchain-core==0.2.10
langchain-community==0.2.6
langchain-groq==0.1.6
langchain-huggingface==0.0.3
faiss-cpu==1.13.2
pydantic==2.12.5
python-dotenv==1.2.1
groq==0.37.1
easyocr==1.7.2
opencv-python-headless==4.11.0.86
duckduckgo-search==8.1.1
sentence-transformers==5.2.0
protobuf==6.33.2
matplotlib==3.10.8
numpy==1.26.4
fpdf2==2.8.7
